<p id="notice"><%= notice %></p>

<p>
  <strong>Date infected:</strong>
  <%= @date_infected.date_infected %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @date_infected.animal.name %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @date_infected.disease.description %>
</p>

<%= link_to 'Edit', edit_date_infected_path(@date_infected) %> |
<%= link_to 'Back', date_infecteds_path %>
