<!DOCTYPE html>
<html>
  <head>
    <title>InclassProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <style>
      body {
        background-color: lightblue;
      }
    </style>
  </head>

  
  </body>

   <body>
        <div id="header">
        <h1>Animal Project</h1>
           <%= link_to 'Animals', animals_path %> 
            <%= link_to 'Diseases', diseases_path %> 
            <%= link_to 'Owners', owners_path %> 
            <%= link_to 'Date of Infections', date_infecteds_path %> 
        </div>
        <%= yield %>
    </body>

</html>
